# Hinweis: CircuitPython verwendet das Adafruit Library Bundle (Dateien in CIRCUITPY/lib/).
# Diese requirements.txt dient nur der Dokumentation bzw. fuer lokale Tools/Type-Checker.

adafruit-circuitpython-ble
adafruit-circuitpython-lis3dh
adafruit-circuitpython-thermistor
adafruit-circuitpython-neopixel
